{% extends 'base.html' %}

{% block head %}
    <title>GlobalPC | Editar Perfil</title>

     <style>
        .footer{
            bottom: 0px;
        }
    </style>
{% endblock %}


{% block body %}
    <div class="container">
         <div class="jumbotron">
             <h1>Editar Perfil</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="form-control submit-button">Submeter</button>
        </form>
         </div>
    </div>
 <script>
        $("input").addClass("form-control");
        $("textarea").addClass("form-control");
        $("select").addClass("form-control");
        $("label[for='id_password']").hide();
        $("#id_password").hide();
        $(".helptext").hide();
         $("#search").attr("class", "textboxRight");

    </script>
{% endblock %}