{% extends 'base.html' %}

{% block head %}
    <title>GlobalPC | Perfil</title>

     <style>
        .footer{
            bottom: 0px;
        }
    </style>
{% endblock %}


{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="font">Perfil</h1>
            <p class="font">Username: {{ user }}</p>
            <p class="font">Primeiro Nome: {{ user.first_name }}</p>
            <p class="font">Último Nome: {{ user.last_name }}</p>
            <p class="font">Email: {{ user.email }}</p>
        </div>
    </div>
{% endblock %}